{% extends 'base.html' %}
{% load static %}
{% block content %}

<button href="{% url 'addlisting'%}">Add Job Listing</button>
<button href="{% url 'removelisting'%}">Remove Job Listing</button>
<button href="{% url 'editlisting'%}">Edit Job Listing</button>
<button href="{% url 'find'%}">Find Applicants</button>
<button href="{% url 'messaging'%}">Message Applicants</button>
<button href="{% url 'view-account-employer'%}">View Account Information</button>
<button href="{% url 'deleteaccount-employer'%}">Delete Account</button>
<button href="{% url 'logout'%}">Logout</button>
{% endblock %}