{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="style__dark-blue-background___3qXNF">
<div data-hook="student-home-content-type-navigation" class="style__container___3WAmF">
    <h2 class="content-type-navigation-heading style__heading___29i1Z style__large___15W-p">What can we help you find today?</h2>
    <div class="style__cards___vCW7l">
        <div class="style__flex___fCvpa style__inline___2arqA">
            <div class="style__linked-card___1gGYN style__linked-card___2upG4">
                <div class="style__card___PnOHK style__card___1rhof" data-hook="card">
                    <div class="style__card-item___B1f7m style__full-height___2Ciyb">
                        <div class="style__flex___fCvpa style__justify-flex-end___229cl style__column___1Ye52 style__full-height___3AWW4">
                            <i class="fas fa-briefcase" class="style__illustration___2pK_r"></i>
                                <h2 class="style__heading___34JlE style__heading___29i1Z style__large___15W-p">
                                    <a href="{% url 'jobs' %}">
                                        "Jobs"
                                        <span class="style__arrow___2xTOf">&nbsp;→
                                        </span>
                                    </a>
                                </h2>
                                <div class="style__text___2ilXR style__tight___RF4uH style__muted___2z7cM">
                                    Find internships and full-time jobs
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="style__linked-card___1gGYN style__linked-card___2upG4">
                <div class="style__card___PnOHK style__card___1rhof" data-hook="card">
                    <div class="style__card-item___B1f7m style__full-height___2Ciyb">
                        <div class="style__flex___fCvpa style__justify-flex-end___229cl style__column___1Ye52 style__full-height___3AWW4">
                            <i class="fas fa-building" style="height=5px, width=5px" class="style__illustration___2pK_r"></i>
                                <h2 class="style__heading___34JlE style__heading___29i1Z style__large___15W-p">
                                    <a href="{%url 'employerlist'%}">
                                        "Employers"
                                        <span class="style__arrow___2xTOf">&nbsp;→
                                        </span>
                                    </a>
                                </h2>
                                <div class="style__text___2ilXR style__tight___RF4uH style__muted___2z7cM">
                                    Discover the right company for you
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            <div class="style__linked-card___1gGYN style__linked-card___2upG4">
                <div class="style__card___PnOHK style__card___1rhof" data-hook="card">
                    <div class="style__card-item___B1f7m style__full-height___2Ciyb">
                        <div class="style__flex___fCvpa style__justify-flex-end___229cl style__column___1Ye52 style__full-height___3AWW4">
                            <i class="fas fa-city" class="style__illustration___2pK_r"></i>
                                <h2 class="style__heading___34JlE style__heading___29i1Z style__large___15W-p">
                                    <a href="[job postings]">
                                        "Community"
                                        <span class="style__arrow___2xTOf">&nbsp;→
                                        </span>
                                    </a>
                                </h2>
                                <div class="style__text___2ilXR style__tight___RF4uH style__muted___2z7cM">
                                    Find a mentor and receive help on resume to become the best candidate
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            <div class="style__linked-card___1gGYN style__linked-card___2upG4">
                <div class="style__card___PnOHK style__card___1rhof" data-hook="card">
                    <div class="style__card-item___B1f7m style__full-height___2Ciyb">
                        <div class="style__flex___fCvpa style__justify-flex-end___229cl style__column___1Ye52 style__full-height___3AWW4">
                            <i class="fas fa-globe" class="style__illustration___2pK_r"></i>
                                <h2 class="style__heading___34JlE style__heading___29i1Z style__large___15W-p">
                                    <a href="[job postings]">
                                        "Events"
                                        <span class="style__arrow___2xTOf">&nbsp;→
                                        </span>
                                    </a>
                                </h2>
                                <div class="style__text___2ilXR style__tight___RF4uH style__muted___2z7cM">
                                    Find upcoming career fairs and events near you
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}